:root {
    --terminal-font-family: 'Fira Code', monospace;
    --terminal-font-size: 16px;
    --terminal-line-height: 1.5em;
    color: white;
}

html {
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: -2;
}

body {
    /* background-color: #0006; */
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--terminal-font-family);
}

.terminal-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligns children (HandexTerm) to the bottom */
  height: 100vh; /* Full height of the viewport */
}

.parallax-background {
  position: relative;
  overflow: hidden;
  height: 100px; /* Example height, adjust as needed */
}

.parallax-layer {
  position: absolute;
  height: 100px;
  width: 100%;
}

.chord-navigation {

    img {
        display: block;
        width: 40px;
        height: 40px;
        margin: 5px;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.phrase-names {
    text-align: left;
}
.phrase-name {
    display: inline-block;
    width: auto;
    margin: 0 10px 10px 0;
}
.key-container {
    float: left;
    flex-direction: column;
    align-items: left;
    /* Center-align the items horizontally */
    text-align: left;
    /* Center-align the text */
    margin-bottom: 15px;
    /* Add some space between the pairs */
}

.key-container label {
    line-height: 0.6em;
    vertical-align: text-top;
}

.log-time {
    color: grey;
    font-weight: 100m
}

.log-hour {
    color: cyan;
    font-weight: 100;
}

.log-minute {
    color: #FF09;
    font-weight: bold;
}

.log-second {
    color: green;
    font-weight: 100;
}

.log-prefix {
    color: gray;
}

.terminal-nav {
    color: white;
    background-color: #000;
    font-weight: bold;
    flex-shrink: 1;
    padding: 0 10px;
    line-height: 2em;
}

pre#nextChars {
    padding: 0;
    margin: 0;
    min-height: 1.5em;
    color: lightgreen;
    font-weight: bold;
    font-size: calc(var(--terminal-font-size) + 5px);
    line-height: 1.5em;
    float: left;
}


video#terminal-video {
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
}

div.terminal {
    background-color: #0000;
    z-index: 10;
}

.xterm .xterm-viewport {
    background-color: rgba(0, 0, 0, 0.3);
    /* Adjust the alpha value for transparency */
}
.xterm-screen {
    width: 100%;
}


#timer-root {
    color: white;
    float: left;
}

.wpm-table-row .number {
    color: lightgreen;
    text-align: right;
}

.terminal {
    /* Terminal styles */
    background-color: #0003;
    z-index: 10;
    color: white;
    /* font-size: var(--terminal-font-size); */
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;

    .prompt {
        color: lightseagreen;

        .domain {
            color: darkkhaki;
        }

        .user {
            color: magenta;
        }
    }
}
.hidden-canvas {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

#terminal-output {
    /* Output area styles */
    z-index: 10000;
    font-size: var(--terminal-font-size);
}

#terminal-output div {
    z-index: 1000;
}



.wpm {
    color: #fa807280;
    padding: 0 5px;
}

/* Responsive font size and padding */
@media (max-width: 600px) {
    /* Example breakpoint for mobile devices */
    :root {
        --terminal-line-height: 1.2em;
    }
    body {
        padding: 5px;
    }
    /* Add any additional mobile-specific styles here */
}

.terminal-line {
    display: flex;
    align-items: flex-start;
    /* Align items to the top */
}

.prompt-tail-container {
    margin-right: 4px;
    /* Space between the prompt tail and the input */
}

.terminal-prompt.tail {
    /* Aligning the prompt-tail vertically */
    align-self: top;
}

.terminal-input {
    flex: 1;
    background: none;
    border: none;
    color: yellow;
    caret-color: lightyellow;
    /* resize: none; */
    white-space: pre-wrap;
    overflow-y: hidden;
    padding: 0;
    vertical-align: top;
    /* If you want the textarea to grow without a scrollbar */
    /* Remove fixed height to allow auto-expanding */
}

.terminal-input:focus {
    outline: none;
}

.terminal-line:not(.first-line) {
    display: flex;
    align-items: center;
}

.terminal .domain {
    color: darkkhaki;
}

.terminal-progress-bar {
    /* Progress bar styles */
    background-color: darkblue;
}