:root {
    --terminal-font-family: 'Fira Code', monospace;
    --terminal-font-size: 16px;
    --terminal-line-height: 1.5em;
    color: white;
}

html {
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: -2;
}

body {
    /* background-color: #0006; */
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--terminal-font-family);
}

.terminal-container {
    flex-direction: column;
    justify-content: flex-end;
    /* Aligns children (HandexTerm) to the bottom */
}

.parallax-background {
    position: relative;
    overflow: hidden;
    height: 100px;
    /* Example height, adjust as needed */
}

.parallax-layer {
    position: absolute;
    height: 100px;
    width: 100%;
}

.chord-navigation {

    img {
        display: block;
        width: 40px;
        height: 40px;
        margin: 5px;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.phrase-names {
    text-align: left;
}

#root {
    flex: 1;
}

.phrase-name {
    display: inline-block;
    width: auto;
    margin: 0 10px 10px 0;
}

.key-container {
    float: left;
    flex-direction: column;
    align-items: left;
    /* Center-align the items horizontally */
    text-align: left;
    /* Center-align the text */
    margin-bottom: 15px;
    /* Add some space between the pairs */
}

.key-container label {
    line-height: 0.6em;
    vertical-align: text-top;
}

.log-time {
    color: grey;
    font-weight: 100;
}

.log-hour {
    color: cyan;
    font-weight: 100;
}

.log-minute {
    color: #FF09;
    font-weight: bold;
}

.log-second {
    color: green;
    font-weight: 100;
}

.log-prefix {
    color: gray;
}

.terminal-nav {
    color: white;
    background-color: #000;
    font-weight: bold;
    flex-shrink: 1;
    padding: 0 10px;
    line-height: 2em;
}

pre#nextChars {
    padding: 0;
    margin: 0;
    /* min-height: 1.5em; */
    color: lightgreen;
    font-weight: bold;
    font-size: calc(var(--terminal-font-size) * 1.2);
    float: left;
    white-space: pre-wrap;
    /* Allows text to wrap */
    word-break: break-word;
    /* Ensures words break to prevent overflow */
    font-family: var(--terminal-font-family);
    /* Maintains monospace font */
}

video#terminal-video {
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
}

div.terminal {
    background-color: #0000;
    z-index: 10;
}

.xterm .xterm-viewport {
    background-color: rgba(0, 0, 0, 0.3);
    /* Adjust the alpha value for transparency */
}

.xterm-screen {
    width: 100%;
}

#chord-image-holder .char {
    font-size: 35px;
}

#timer-root {
    color: white;
    float: left;
}

.wpm-table-row .number {
    color: lightgreen;
    text-align: right;
}

.terminal {
    /* Terminal styles */
    background-color: #0003;
    z-index: 10;
    color: white;
    /* font-size: var(--terminal-font-size); */
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;

    .prompt {
        color: lightseagreen;

        .domain {
            color: darkkhaki;
        }

        .user {
            color: magenta;
        }
    }
}

.hidden-canvas {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

#terminal-output {
    /* Output area styles */
    padding: 15px 0 0 0;
    z-index: 10000;
    background-color: #0009;
    font-size: var(--terminal-font-size);
}

.xterm-rows :first-child,
.xterm-rows :nth-child(2) {
    background-color: #0009;
}

#terminal-game {
    background-color: #0009;
}

#next-chars {
    background-color: #0009;
    pre#nextChars {
        background-color: #0009;
    }
}

#terminal-output div {
    z-index: 1000;
}

#footer {
    padding: 0 0 15 0;

    div {
        float: left;
        padding: 20px 0 0 30px;
        font-size: calc(var(--terminal-font-size) * 2.8);
        text-align: center;

        a {
            color: cyan;
        }
    }

    img {
        width: 170px;
        float: right;
        padding: 0 15px 15px 0;
    }
}


.wpm {
    color: yellow;
    font-weight: bold;
    padding: 0 5px;
}

.wpm-label {
    color: cyan;
}

/* Responsive font size and padding */
@media (max-width: 600px) {

    /* Example breakpoint for mobile devices */
    :root {
        --terminal-line-height: 1.2em;
    }

    body {
        padding-left: 2px;
    }

    /* Add any additional mobile-specific styles here */
    .scrolling-text {
        animation: scrollText 1s linear infinite;
        /* Adjust duration as needed */
    }

    #footer {
        div {
            font-size: calc(var(--terminal-font-size) * 0.8);
        }

        img {
            width: 120px;
        }
    }
}

.terminal-line {
    display: flex;
    align-items: flex-start;
    /* Align items to the top */
}

.prompt-tail-container {
    margin-right: 4px;
    /* Space between the prompt tail and the input */
}

.terminal-prompt.tail {
    /* Aligning the prompt-tail vertically */
    align-self: top;
}

.terminal-input {
    flex: 1;
    background: none;
    border: none;
    color: yellow;
    caret-color: lightyellow;
    /* resize: none; */
    white-space: pre-wrap;
    overflow-y: hidden;
    padding: 0;
    vertical-align: top;
    /* If you want the textarea to grow without a scrollbar */
    /* Remove fixed height to allow auto-expanding */
}

.terminal-input:focus {
    outline: none;
}

.terminal-line:not(.first-line) {
    display: flex;
    align-items: center;
}

.terminal .domain {
    color: darkkhaki;
}

.terminal-progress-bar {
    /* Progress bar styles */
    background-color: darkblue;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.scrolling-text {
    animation: scrollText 5s linear infinite;
    /* Adjust duration as needed */
    color: lightgreen;
    /* Text color */
    font: italic 60px Arial;
}

.chord-display-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    /* Optional: if you want to vertically align them */
}

.tutorial-component pre {
    color: lightsalmon;
    font-size: var(--terminal-font-size);
}

#terminal .xterm-cursor-block {
    color: white !important;
}

.tutorial-component pre {
    white-space: pre-wrap;
    /* Allows text to wrap */
    word-break: break-word;
    /* Ensures words break to prevent overflow */
    font-family: var(--terminal-font-family);
    /* Maintains monospace font */
}

.CodeMirror div.CodeMirror-cursors {
  visibility: visible !important;
}

div.cm-content {
  background-color: #0009;
}